html {
  box-sizing: border-box;
}

:root {
  /* Pastel Pink Background Color */
  --pastel-pink: #ffc0cb;

  /* Dark Gray Text Color */
  --dark-gray: #333;

  /* Medium Gray Text Color */
  --medium-gray: #666;

  /* Deep Pink Accent Color and Navigation Background*/
  --deep-pink: #ff1493;

  /* White Header Background and Navigation Text*/
  --white: #fff;

  /* Hot Pink Header Text and Navigation Hover*/
  --hot-pink: #ff69b4;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

body {
  font-family: 'Abril Fatface', serif, sans-serif;
  font-weight: 400;
  background-color: var(--pastel-pink);
}

/*Navigation*/

#main-navbar {
  background-color: var(--deep-pink);
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li{
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: var(--white);
  text-decoration: none;
}

#main-navbar ul li a:hover {
background-color: var(--hot-pink);
}